.form-wrapper {
  display: flex;
  flex-direction: column;
}

.discs-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
}

.wrapper {
  max-width: 720px;
  margin-top: 50px;
}

.seniority-wrapper {
  margin-top: 20px;
}

.seniority-discs {
  margin-bottom: 10px;
}
