<h1>High Frontier 4 All - Save sheets</h1>

<mat-card class="wrapper">
  <mat-card-content>
    <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
      <mat-step [stepControl]="scenarioFormGroup">
        <form [formGroup]="scenarioFormGroup">
          <ng-template matStepLabel>Scenario</ng-template>
          <!-- <mat-chip-listbox aria-label="Fish selection">
            <mat-chip-option
              *ngFor="let scenario of scenarios"
              (click)="selectScenario(scenario)"
            >
              {{ scenario.name }}
            </mat-chip-option>
          </mat-chip-listbox> -->
          <app-scenario></app-scenario>

          @if (currentScenarioData) {
          <div class="seniority-wrapper">
            <mat-label>Seniority discs</mat-label>
            <mat-chip-listbox
              aria-label="Fish selection"
              *ngIf="currentScenarioData"
            >
              <mat-chip-option
                *ngFor="let disc of currentScenarioData?.seniorityDiscs"
                (click)="selectSeniorityDiscs(disc)"
                [selected]="
                  scenarioFormGroup.get('seniorityDiscs')?.value === disc
                "
              >
                {{ disc }}
              </mat-chip-option>
            </mat-chip-listbox>
          </div>

          }

          <div
            *ngIf="scenarioFormGroup.get('seniorityDiscs')?.value"
            class="discs-wrapper"
          >
            <mat-form-field>
              <mat-label>Left discs</mat-label>
              <input
                matInput
                value="1"
                type="number"
                formControlName="leftSeniorityDiscs"
                [min]="1"
                [max]="scenarioFormGroup.get('seniorityDiscs')?.value ?? 7"
              />

              @if (scenarioFormGroup.hasError('leftSeniorityDiscsMax')) {
              <mat-error
                >Max
                {{ scenarioFormGroup.get("seniorityDiscs")?.value }}</mat-error
              >
              }
            </mat-form-field>

            <mat-form-field>
              <mat-label>Year position</mat-label>
              <input
                matInput
                value="1"
                type="number"
                formControlName="yearPosition"
              />
              @if (scenarioFormGroup.get('yearPosition')?.hasError('min')) {
              <mat-error>
                Min
                {{
                  scenarioFormGroup.get("yearPosition")?.getError("min").min
                }}</mat-error
              >
              } @if (scenarioFormGroup.get('yearPosition')?.hasError('max')) {
              <mat-error>
                Max
                {{
                  scenarioFormGroup.get("yearPosition")?.getError("max").max
                }}</mat-error
              >
              }
            </mat-form-field>
          </div>

          <div>
            <button
              mat-button
              matStepperNext
              [disabled]="!scenarioFormGroup.valid"
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="playersFormGroup">
        <form [formGroup]="playersFormGroup">
          <ng-template matStepLabel
            >Players
            {{ currentScenarioData | scenarioPlayersRange }}</ng-template
          >
          <button
            mat-button
            (click)="openPlayerDialog()"
            *ngIf="currentScenarioData"
          >
            New Player
          </button>

          <app-player
            *ngFor="let player of playersFormGroup.get('players')?.value ?? []"
            [playerData]="player"
          ></app-player>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button
              mat-button
              matStepperNext
              [disabled]="!scenarioFormGroup.valid"
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-stepper>
  </mat-card-content>
</mat-card>
