<h1>Creating a new save sheet</h1>

<form [formGroup]="form">
  <h3>Choose scenario...</h3>
  <mat-chip-listbox aria-label="Fish selection">
    <mat-chip-option
      *ngFor="let scenario of scenarios"
      (click)="selectScenario(scenario)"
    >
      {{ scenario.name }}
    </mat-chip-option>
  </mat-chip-listbox>

  <h3 *ngIf="currentScenarioData">How many seniority discs?</h3>
  <mat-chip-listbox aria-label="Fish selection" *ngIf="currentScenarioData">
    <mat-chip-option *ngFor="let disc of currentScenarioData?.seniorityDiscs">
      {{ disc }}
    </mat-chip-option>
  </mat-chip-listbox>

  <h3 *ngIf="currentScenarioData">
    Add players {{ currentScenarioData | scenarioPlayersRange }}
  </h3>

  <button mat-button (click)="openPlayerDialog()" *ngIf="currentScenarioData">
    New Player
  </button>

  <h3 *ngIf="currentScenarioData">Players</h3>
  <app-player *ngFor="let player of players" [playerData]="player"></app-player>
</form>
