<h1>High Frontier 4 All - Save sheets</h1>

<mat-card class="wrapper">
  <mat-card-content>
    <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
      <mat-step [stepControl]="scenarioFormGroup">
        <form [formGroup]="scenarioFormGroup">
          <ng-template matStepLabel>Scenario</ng-template>

          <app-scenario></app-scenario>
          <app-seniority-discs></app-seniority-discs>

          <div class="buttons-wrapper">
            <button
              mat-raised-button
              color="primary"
              matStepperNext
              [disabled]="!scenarioFormGroup.valid"
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="playersFormGroup">
        <form [formGroup]="playersFormGroup">
          <ng-template matStepLabel
            >Players
            {{
              scenarioFormGroup.get("currentScenario")?.value
                | scenarioPlayersRange
            }}</ng-template
          >
          <div class="players-section">
            <button
              mat-raised-button
              color="primary"
              (click)="openPlayerDialog()"
              [disabled]="!canAddMorePlayers"
            >
              New Player
            </button>

            <p *ngIf="!playersFormGroup.valid">
              You need to have at least
              {{
                scenarioFormGroup.get("currentScenario")?.value?.players?.min
              }}
              and maximum
              {{
                scenarioFormGroup.get("currentScenario")?.value?.players?.max
              }}
              players
            </p>
          </div>

          <app-player
            [playersData]="playersFormGroup.get('players')?.value ?? []"
          ></app-player>
          <div class="buttons-wrapper">
            <button mat-raised-button matStepperPrevious>Back</button>
            <button
              mat-raised-button
              color="primary"
              matStepperNext
              [disabled]="!playersFormGroup.valid"
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Map state</ng-template>

        <div class="buttons-wrapper">
          <button mat-raised-button matStepperPrevious>Back</button>
          <button
            mat-raised-button
            color="primary"
            matStepperNext
            [disabled]="!playersFormGroup.valid"
          >
            Next
          </button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div class="buttons-wrapper">
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" (click)="stepper.reset()">
            Save
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </mat-card-content>
</mat-card>

<div style="border: 1px solid green; max-width: 300px">
  {{ scenarioFormGroup.value | json }}
</div>

<div style="border: 1px solid red; max-width: 300px">
  {{ playersFormGroup.value | json }}
</div>
