.form-wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper {
  max-width: 720px;
  margin-top: 50px;
}

.seniority-wrapper {
  margin-top: 20px;
}

.seniority-discs {
  margin-bottom: 10px;
}

.new-player {
  margin-bottom: 30px;
}

.buttons-wrapper {
  display: flex;
  margin-top: 20px;
  gap: 20px;
  justify-content: end;
}
