<ng-container [formGroup]="assemblyFormGroup">
  <div class="inputs-wrapper">
    <mat-form-field class="delegates-field">
      <mat-label>Delegates</mat-label>
      <input
        matInput
        formControlName="delegates"
        placeholder="Ex. Johny 2, Kostek 1"
      />
    </mat-form-field>
    <mat-form-field class="number-field">
      <mat-label>Discs</mat-label>
      <input
        matInput
        value="0"
        type="number"
        formControlName="seniorityDiscs"
        min="0"
      />
    </mat-form-field>
  </div>
</ng-container>
