.discs-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  margin-top: 20px;
  max-width: 100%;
  box-sizing: border-box;
}

.seniority-wrapper {
  margin-top: 20px;
}

.seniority-discs {
  margin-bottom: 10px;
}

.disc-field {
  flex: 1;

  @media (max-width: 720px) {
    flex: auto;
    width: 120px;
  }
}
