.discs-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  margin-top: 20px;
}

.seniority-wrapper {
  margin-top: 20px;
}

.seniority-discs {
  margin-bottom: 10px;
}

.disc-field {
  flex: 1;
}
