<mat-toolbar class="navbar">
  <mat-toolbar-row class="row">
    <span>HF 4All - Save sheets</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      aria-label="New"
      color="primary"
      (click)="redirectToNewSave()"
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Home"
      color="primary"
      (click)="redirectToHome()"
    >
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
