.example-spacer {
  flex: 1 1 auto;
}

.navbar {
  align-items: center;

  @media (max-width: 720px) {
    align-items: normal;
  }
}

.row {
  width: 720px;
  padding: 0;

  @media (max-width: 720px) {
    width: auto;
    padding: 0 10px;
  }
}
