@import "../../styles/variables";

.wrapper {
  width: $smallScreenMax;
  margin-top: 50px;

  @media (max-width: $smallScreenMax) {
    width: auto;
  }
}

.buttons-wrapper {
  display: flex;
  margin-top: 20px;
  gap: 20px;
  justify-content: end;
}
