<mat-card class="wrapper" *ngIf="saveSheet">
  <mat-card-content>
    <mat-vertical-stepper [linear]="true" #stepper>
      <mat-step>
        <ng-template matStepLabel>Sol Support Cycle</ng-template>
        <mat-chip-listbox aria-label="Glory chit selection">
          <mat-chip>
            Left seniority discs: {{ saveSheet.leftSeniorityDiscs }}
          </mat-chip>
          <mat-chip> Year position: {{ saveSheet.yearPosition }} </mat-chip>
        </mat-chip-listbox>

        <div class="buttons-wrapper">
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step *ngIf="saveSheet.expansions?.names?.includes('Module 0')">
        <ng-template matStepLabel>Politics</ng-template>
        <mat-chip-listbox>
          <mat-chip
            *ngFor="let assembly of saveSheet.expansions?.module0?.assemblies"
          >
            {{ assembly.name }} - seniority discs:
            {{ assembly.seniorityDiscs }}
            {{ assembly?.delegates?.length ? ", delegates:" : "" }}
            {{ assembly.delegates }}
          </mat-chip>
        </mat-chip-listbox>

        <div class="buttons-wrapper">
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step *ngIf="saveSheet.mapState.bustedDiscs.length">
        <ng-template matStepLabel>Busted discs</ng-template>
        <mat-chip-listbox>
          <mat-chip *ngFor="let bustedDisc of saveSheet.mapState.bustedDiscs">
            {{ bustedDisc.name }}
          </mat-chip>
        </mat-chip-listbox>

        <div class="buttons-wrapper">
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step *ngIf="saveSheet.mapState.bridges.length">
        <ng-template matStepLabel>Bridges</ng-template>

        <mat-chip-listbox>
          <mat-chip *ngFor="let bridge of saveSheet.mapState.bridges">
            {{ bridge.name }}
          </mat-chip>
        </mat-chip-listbox>

        <div class="buttons-wrapper">
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Players</ng-template>
        <app-player [playersData]="saveSheet.players"></app-player>
        <div class="buttons-wrapper">
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div class="buttons-wrapper">
          <button mat-raised-button matStepperPrevious>Back</button>
          <button
            mat-raised-button
            color="primary"
            matStepperNext
            (click)="redirectToHome()"
          >
            Play
          </button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content></mat-card
>
