<mat-accordion>
  <mat-expansion-panel *ngFor="let playerData of playersData">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ playerData?.playerName }} </mat-panel-title>
      <mat-panel-description>
        {{ findCrewByType(playerData?.crewType)?.name }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Aqua: {{ playerData?.aquas }}</p>
    <p>Rocket position: {{ playerData?.rocketPosition }}</p>

    <h4 *ngIf="playerData?.gloryChits?.length">Glory chits</h4>
    <mat-chip-listbox
      aria-label="Glory chit selection"
      *ngIf="playerData?.gloryChits?.length"
    >
      <mat-chip-option *ngFor="let gloryChit of playerData.gloryChits">
        {{ gloryChit }}
      </mat-chip-option>
    </mat-chip-listbox>

    <mat-divider></mat-divider>
    <h2>Map state</h2>

    <h4 *ngIf="playerData?.prospects?.length">Prospects</h4>
    <mat-chip-listbox
      aria-label="Glory chit selection"
      *ngIf="playerData?.prospects?.length"
    >
      <mat-chip-option *ngFor="let prospect of playerData?.prospects">
        {{ prospect.name }}
      </mat-chip-option>
    </mat-chip-listbox>

    <h4 *ngIf="playerData?.factories?.length">Factories</h4>
    <mat-chip-listbox
      aria-label="Glory chit selection"
      *ngIf="playerData?.factories?.length"
    >
      <mat-chip-option *ngFor="let factory of playerData?.factories">
        {{ factory.name }}
      </mat-chip-option>
    </mat-chip-listbox>

    <h4 *ngIf="playerData?.colonies?.length">Colonies</h4>
    <mat-chip-listbox
      aria-label="Glory chit selection"
      *ngIf="playerData?.colonies?.length"
    >
      <mat-chip-option *ngFor="let colony of playerData?.colonies">
        {{ colony.name }}
      </mat-chip-option>
    </mat-chip-listbox>

    <mat-divider></mat-divider>
    <h2>Cards</h2>

    <h4 *ngIf="playerData?.cards?.rocket?.length">Rocket</h4>
    <mat-chip-listbox
      aria-label="Glory chit selection"
      *ngIf="playerData?.cards?.rocket?.length"
    >
      <mat-chip-option *ngFor="let card of playerData?.cards?.rocket">
        {{ card.name }}
      </mat-chip-option>
    </mat-chip-listbox>

    <h4 *ngIf="playerData?.cards?.leo?.length">LEO</h4>
    <mat-chip-listbox
      aria-label="Glory chit selection"
      *ngIf="playerData?.cards?.leo?.length"
    >
      <mat-chip-option *ngFor="let card of playerData?.cards?.leo">
        {{ card.name }}
      </mat-chip-option>
    </mat-chip-listbox>

    <h4 *ngIf="playerData?.cards?.outpost1?.length">Outpost 1</h4>
    <mat-chip-listbox
      aria-label="Glory chit selection"
      *ngIf="playerData?.cards?.outpost1?.length"
    >
      <mat-chip-option *ngFor="let card of playerData?.cards?.outpost1">
        {{ card.name }}
      </mat-chip-option>
    </mat-chip-listbox>

    <h4 *ngIf="playerData?.cards?.outpost2?.length">Outpost 2</h4>
    <mat-chip-listbox
      aria-label="Glory chit selection"
      *ngIf="playerData?.cards?.outpost2?.length"
    >
      <mat-chip-option *ngFor="let card of playerData?.cards?.outpost2">
        {{ card.name }}
      </mat-chip-option>
    </mat-chip-listbox>

    <h4 *ngIf="playerData?.cards?.hand?.length">Hand</h4>
    <mat-chip-listbox
      aria-label="Glory chit selection"
      *ngIf="playerData?.cards?.hand?.length"
    >
      <mat-chip-option *ngFor="let card of playerData?.cards?.hand">
        {{ card.name }}
      </mat-chip-option>
    </mat-chip-listbox>
  </mat-expansion-panel>
</mat-accordion>
