@import "../../../styles/variables";

.dialog-wrapper {
  max-width: $smallScreenMax;

  @media (max-width: $smallScreenMax) {
    width: auto;
  }
}

.base-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  margin-top: 15px;

  @media (max-width: $smallScreenMax) {
    gap: 3px;
    flex-wrap: wrap;
  }
}

.player-field {
  width: 135px;
}

.rocket-field {
  flex: 1;
}

.aqua-field {
  width: 60px;
}

.chip-list {
  width: 100%;
}

.crew-error {
  margin-bottom: 10px;
  font-size: 12px;
}
