<div class="dialog-wrapper">
  <h2 mat-dialog-title>Player {{ playerForm.get("playerName")?.value }}</h2>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="playerForm">
      <h3>Crew type</h3>
      <mat-chip-listbox aria-label="Crew selection">
        <mat-chip-option
          *ngFor="let crew of crews"
          (click)="selectCrew(crew.name)"
        >
          {{ crew.name }}
        </mat-chip-option>
      </mat-chip-listbox>
      @if (playerForm.get('crewType')?.hasError('required') &&
      (playerForm.get('crewType')?.dirty || playerForm.get('crewType')?.touched)
      ) {
      <mat-error> Req field</mat-error>
      }

      <div class="base-fields">
        <mat-form-field class="player-field">
          <mat-label>Player name</mat-label>
          <input
            matInput
            formControlName="playerName"
            placeholder="Ex. Johny"
          />
        </mat-form-field>

        <mat-form-field class="aqua-field">
          <mat-label>Aquas</mat-label>
          <input matInput value="0" type="number" formControlName="aquas" />
          @if (playerForm.get('aquas')?.hasError('min')) {
          <mat-error>
            Min {{ playerForm.get("aquas")?.getError("min").min }}</mat-error
          >
          } @if (playerForm.get('aquas')?.hasError('max')) {
          <mat-error>
            Max {{ playerForm.get("aquas")?.getError("max").max }}</mat-error
          >
          }
        </mat-form-field>
      </div>

      <h3>Rocket</h3>
      <mat-form-field class="chip-list">
        <mat-chip-grid #rocketCardsChip aria-label="Enter Rocket cards">
          @for (rocketCard of rocketCards; track rocketCard) {
          <mat-chip-row
            (removed)="remove('ROCKET', rocketCard)"
            [editable]="true"
            (edited)="edit('ROCKET', rocketCard, $event)"
            [aria-description]="'press enter to edit ' + rocketCard.name"
          >
            {{ rocketCard.name }}
            <button
              matChipRemove
              [attr.aria-label]="'remove ' + rocketCard.name"
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          }
          <input
            placeholder="Ex. Project Orio"
            [matChipInputFor]="rocketCardsChip"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add('ROCKET', $event)"
          />
        </mat-chip-grid>
      </mat-form-field>

      <h3>LEO</h3>
      <mat-form-field class="chip-list">
        <mat-chip-grid #leoCardsChip aria-label="Enter LEO cards">
          @for (leoCard of leoCards; track leoCard) {
          <mat-chip-row
            (removed)="remove('LEO', leoCard)"
            [editable]="true"
            (edited)="edit('LEO', leoCard, $event)"
            [aria-description]="'press enter to edit ' + leoCard.name"
          >
            {{ leoCard.name }}
            <button matChipRemove [attr.aria-label]="'remove ' + leoCard.name">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          }
          <input
            placeholder="New LEO card..."
            [matChipInputFor]="leoCardsChip"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add('LEO', $event)"
          />
        </mat-chip-grid>
      </mat-form-field>

      <h3>Outpost 1</h3>
      <mat-form-field class="chip-list">
        <mat-chip-grid #outpost1CardsChip aria-label="Enter outpost 1 cards">
          @for (outpost1Card of outpost1Cards; track outpost1Card) {
          <mat-chip-row
            (removed)="remove('OUTPOST_1', outpost1Card)"
            [editable]="true"
            (edited)="edit('OUTPOST_1', outpost1Card, $event)"
            [aria-description]="'press enter to edit ' + outpost1Card.name"
          >
            {{ outpost1Card.name }}
            <button
              matChipRemove
              [attr.aria-label]="'remove ' + outpost1Card.name"
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          }
          <input
            placeholder="New OUTPOST_1 card..."
            [matChipInputFor]="outpost1CardsChip"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add('OUTPOST_1', $event)"
          />
        </mat-chip-grid>
      </mat-form-field>

      <h3>Outpost 2</h3>
      <mat-form-field class="chip-list">
        <mat-chip-grid #outpost2CardsChip aria-label="Enter OUTPOST_2 cards">
          @for (outpost2Card of outpost2Cards; track outpost2Card) {
          <mat-chip-row
            (removed)="remove('OUTPOST_2', outpost2Card)"
            [editable]="true"
            (edited)="edit('OUTPOST_2', outpost2Card, $event)"
            [aria-description]="'press enter to edit ' + outpost2Card.name"
          >
            {{ outpost2Card.name }}
            <button
              matChipRemove
              [attr.aria-label]="'remove ' + outpost2Card.name"
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          }
          <input
            placeholder="New OUTPOST_2 card..."
            [matChipInputFor]="outpost2CardsChip"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add('OUTPOST_2', $event)"
          />
        </mat-chip-grid>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
    <button
      mat-raised-button
      [mat-dialog-close]="data"
      color="primary"
      [disabled]="!playerForm.valid"
      (click)="save()"
    >
      Create
    </button>
  </mat-dialog-actions>
</div>
