<div class="dialog-wrapper">
  <h2 mat-dialog-title>Player {{ playerForm.get("playerName")?.value }}</h2>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="playerForm">
      <h3>Crew type</h3>
      <mat-chip-listbox aria-label="Crew selection">
        <mat-chip-option
          *ngFor="let crew of crews"
          (click)="selectCrew(crew.name)"
        >
          {{ crew.name }}
        </mat-chip-option>
      </mat-chip-listbox>
      @if (playerForm.get('crewType')?.hasError('required') &&
      (playerForm.get('crewType')?.dirty || playerForm.get('crewType')?.touched)
      ) {
      <mat-error> Req field</mat-error>
      }

      <div class="base-fields">
        <mat-form-field class="player-field">
          <mat-label>Player name</mat-label>
          <input
            matInput
            formControlName="playerName"
            placeholder="Ex. Johny"
          />
        </mat-form-field>

        <mat-form-field class="aqua-field">
          <mat-label>Aquas</mat-label>
          <input matInput value="0" type="number" formControlName="aquas" />
          @if (playerForm.get('aquas')?.hasError('min')) {
          <mat-error>
            Min {{ playerForm.get("aquas")?.getError("min").min }}</mat-error
          >
          } @if (playerForm.get('aquas')?.hasError('max')) {
          <mat-error>
            Max {{ playerForm.get("aquas")?.getError("max").max }}</mat-error
          >
          }
        </mat-form-field>
      </div>

      <app-card-chips> </app-card-chips>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
    <button
      mat-raised-button
      [mat-dialog-close]="data"
      color="primary"
      [disabled]="!playerForm.valid"
      (click)="save()"
    >
      Create
    </button>
  </mat-dialog-actions>
</div>
