@import "../../../../styles/variables";

.fields-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  margin-top: 15px;

  @media (max-width: $smallScreenMax) {
    gap: 3px;
    flex-wrap: wrap;
  }
}

.fuel-field {
  width: 65px;
}

.rocket-field {
  flex: 1;
}
